* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 23rem 24rem;
  /* align-items: center; */
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.flex img {
  border-radius: 30px;
}
.btn {
  background-color: orange;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.form-container {
  background-color: rgb(255, 228, 177);
  padding: 1rem;
}
.form-box-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
.form-container-2 {
  background-color: rgb(255, 228, 177);
  padding: 1rem;
  margin-right: 1rem;
}
